# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
DATABASE_URL="your_database_url_here"

# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"

# Allowed email for login
ALLOWED_EMAIL_LOGIN="your_email_here"
ALLOWED_EMAIL_PASSWORD="your_password_here"

# Uploadthing
UPLOADTHING_TOKEN='your_uploadthing_token_here'


# JWT
JWT_SECRET=your_jwt_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
JWT_ACCESS_TOKEN_EXPIRY=15m
JWT_REFRESH_TOKEN_EXPIRY=7d